attrs==17.2.0
arrow==0.12.0
azure-storage-blob==0.37.0
azure-storage-queue==0.37.0
boto3==1.4.4
connexion==1.1.16
google-cloud-pubsub==0.30.1
google-cloud-storage==1.6.0
watchdog==0.8.3
git+git://github.com/ga4gh/data-object-schemas@master
